html {
	padding: 0;
	margin: 0;
	
	background-color: #222;
	color: #f0f0f0;
}
body {
	padding: 0;
	margin: 0;
}

nav {
	height: 50px;
	width: 100%;
	
	background-color: #333;
}
nav * {
	margin: 0;
	height: 100%;
}
nav ul {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	
	font-family: sans-serif;
	list-style-type: none;
}
nav li > a {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	
	color: #f0f0f0;
	text-decoration: none;
}
nav a:hover {
	background-color: #444;
}
nav li {
	height: 100%;
	flex-grow: 1;
}
nav li:first-child {
	flex-grow: 2;
	justify-content: flex-start;
}
nav h2 {
	width: 75%;
	display: flex;
	align-items: center;
	justify-content: center;
	align-self: flex-start;
}
nav h2 a {
	display: initial;
}
nav h2 img {
	height: 100%;
}

#markdown {
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 50px;
}
#markdown > h2 {
	margin-top: 25px;
	margin-bottom: 10px;
}
#markdown > p {
	margin: 0;
	margin-bottom: 10px;
}
